:root {
  font-family: Red Hat Display;
}

.todolist {
  width: 60vw;
  min-height: 400px;
  background-color: whitesmoke;
  border-radius: 20px;
  border: 2px solid #df6464;
}


body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
  background-image: linear-gradient(135deg, #008054, #d12668);
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
  color: #213547;
}

.task {
  width: 100%;
    position: relative;
    margin: 20px 0;
}

#taskInput {
  width: 80%;
  height: 35px;
  padding: 0 20px;
  font-size: 16px;
  border: none;
  box-shadow: 0 0 5px rgba(209, 38, 104, 0.5);
  border-radius: 15px;
  background: #edeef0;
  outline: none;
  font-family: inherit;
}

button {
  width: 20%;
  height: 35px;
  border-radius: 15px;
  position: absolute;
  font-size: 24px;
  font-weight: 900;
  border: 2px solid #d12668;
  background: #d12668;
  color: white;
  left: 73%;
  cursor: pointer;
}

button:hover {
    background: #d4437b;
    border: 2px solid #cc2163;
}

ul {
    list-style: none;
    padding: 0 100px;
    margin: 0;
    text-align: left;
}

li {
  display: flex;
  height: 30px;
  align-items: center;
  padding: 0 20px;
  border-radius: 15px;
}

li:nth-child(even) {
  background-color: #ddd;
}

li div {
  flex: 1;
}


img {
  width: 20px;
  height: 20px;
  cursor: pointer;
  padding-left: 25px;
}